<%= form_for(@snippet) do |f| %>
  <% @snippet.errors.full_messages.each do |error| %>
    <p>
      <%= error %>
    </p>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, cols: 30 %>
  </div>
  <div>
    <%= f.label :code %>
    <%= f.text_area :code, cols: 30, rows: 10 %>
  </div>

  <%= f.submit 'Push it!'%>
<% end %>
